/**
 * Base style to affect HTML elements on a general scale.
 */
@bgColorHtml: #1b1c20;
@bgColorBody: #1b1c20; //#17181b;
@colorBody: rgb(220,220,220);

html {
    background-color: @bgColorHtml;
    //background: linear-gradient(0deg, rgba(37,37,39,1) 0%, rgba(27,28,32,1) 100%);
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    color: @colorBody;
    //color: darkred;
    background-color: @bgColorBody;
    background-image: url('https://mocah.org/uploads/posts/5341698-geometric-graphic-wave-object-black-and-white-line-grid-graph-pattern-wallpaper-monochrome-contrast-abstract-form-structure-wavey-free-pictures.jpg');
    //font: 100.01%/1 @fontFamilyBody;
    #desinax-hgrid.font(@fontSizeBody);
}

img {
    max-width: 100%;
}

// Activate grid and affect all typographic elements
#desinax-hgrid.activateDefaultTypography();
