/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  background-color: #1b1c20;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #17181b;
  font: 100.01%/1 sans-serif;
}
img {
  max-width: 100%;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
/**
 * Main and sidebars layout
 */
.outer-wrap.outer-wrap-header {
  border-bottom: 0.5px solid #252527;
}
.inner-wrap {
  width: 60%;
  margin: 0 auto;
  background-color: #1b1c20;
  border: 0.5px solid #252527;
}
.inner-wrap.inner-wrap-footer {
  border: none;
}
.inner-wrap-main {
  overflow: auto;
}
.site-logo {
  display: none;
}
.region-main {
  width: 70%;
  margin-left: 15%;
  float: left;
  overflow: auto;
}
.region-main.has-sidebar {
  margin-left: 0;
}
.region-main.has-sidebar-left.has-sidebar-right {
  width: 60%;
}
.region-sidebar-left,
.region-sidebar-right {
  width: 30%;
  float: left;
}
.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
  width: 20%;
}
.region-flash img {
  width: 100%;
}
.region-header-col-2 {
  text-align: center;
}
.rm-desktop a {
  color: #FFF;
}
.figure.right {
  float: right;
}
figcaption p {
  margin: 2px;
  font-style: italic;
}
.author-byline {
  margin: 30px 0;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  padding: 15px 0;
}
.author-byline img {
  width: 20%;
  float: right;
}
figcaption {
  margin: 0;
}
.article-pic-container {
  width: 40%;
}
.article-pic-container img {
  width: 100%;
}
/**
 * Footer layout
 */
.footer-column {
  width: 33%;
  float: left;
}
.footer-column-wrapper {
  display: flex;
}
.block.site-footer p {
  text-align: center;
}
.outer-wrap.outer-wrap-footer {
  border-top: 0.5px solid #252527;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * Navbar
 */
@media screen and (max-width: 960px) {
  .rm-desktop a {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
@media screen and (max-width: 800px) {
  .region-header-col-3,
  .region-header-col-1 {
    width: 15%;
  }
  .region-header-col-2 {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  .rm-desktop {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .rm-swipe-right {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
